:root {
  --bg: #f6f7fb;
  --card: #ffffff;

  --primary: #a5b4fc;
  --primary-hover: #818cf8;
  --primary-active: #6366f1;

  --text: #222;
  --muted: #777;

  --radius: 16px;
  --shadow: 0 6px 20px rgba(0,0,0,0.08);
}